@use "sass:math";
$snow-flakes-image: "https://media.giphy.com/media/LtNNbXxxhqA0y0aWwH/giphy.gif";
$christmas-tree-image: "https://rare-gallery.com/uploads/posts/560698-christmas-tree.jpg";
$dark:#0e0d0d;
$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;